.Container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
    padding: 25px;
    height: 100vh;
}

.List {
    display: block;
    height: 448px;
    left: 0;
    overflow-x: hidden;
}

.List::-webkit-scrollbar {
    display: none;
   }

.Movie {
    position: relative;
    text-align: center;
    color: white;
    width: 50%;
    height: 25vh;
}

.MovieTitle{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.LeftHandPoster {
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
 }

 .Poster {
 }

 .RightHandPoster {
    color: linear-gradient( #D1DBF1,#A9CEE5 , #D69ABC);
    box-shadow: 0 0 20px rgba(0,0,0,0.9);
 }

 .SearchInput {
    position: sticky;
    bottom: 0;
 }
 